#header-profile {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
}

#profile_picture {
    width: 50px;
    border-radius: 100%;

}

button {
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}